<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true"/>


  <!-- Launching the smb_gazebo package with the football field background -->
  <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    <arg name="world_file" default="$(find smb_highlevel_controller)/worlds/singlePillar.world"/>
    <arg name="laser_enabled" value = "true"/>
  </include>


  <!-- Start EKF for localization -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node">
    <rosparam command="load" file="$(find smb_control)/config/localization.yaml" />
    <rosparam file="$(find smb_highlevel_controller)/config/smb_highlevel_controller.yaml" command="load"/>
    <rosparam file="$(find smb_highlevel_controller)/config/pointcloud_to_laserscan.yaml" command="load"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />



  <!-- Launching the visualizer -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find smb_highlevel_controller)/rviz/default.rviz"/>


</launch>
